
*{
    padding: 0;
    margin: 0;
    box-sizing: 0;
}
caption{
    color: blue;
    font-size: 40px;
    font-weight: 600;
    font-family:Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-bottom: 0;
    padding-bottom: 0%;
}

table{
    width: 100%;
    height: fit-content;
    padding: 30px 40px;
    
}
th{background-color: black;
    color: aliceblue;
    font-family: 'Arial Narrow', Arial, sans-serif;
    text-align: start;
    padding: 10px;
    text-transform: uppercase;
    margin-top: 0cm;
}

td{
    padding: 10px ;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 590;
}

#colored-row{
    background-color: rgb(197, 220, 245);
}



tr:hover{
    background-color: bisque;
}
th:hover{
    padding-bottom: 1%;
    background-color: rgb(197, 220, 245);
    color: black;
}

footer{
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
text-decoration-color: brown;
text-align: center;
}
